[submodule "schoolist-edge-service"]
	path = schoolist-edge-service
	url = git@github.com:avollmaier/schoolist-edge-service.git
[submodule "schoolist-ui"]
	path = schoolist-ui
	url = git@github.com:avollmaier/schoolist-ui.git
[submodule "schoolist-deployment"]
	path = schoolist-deployment
	url = https://github.com/avollmaier/schoolist-deployment.git
[submodule "schoolist-course-service"]
	path = schoolist-course-service
	url = git@github.com:avollmaier/schoolist-course-service.git
